form {
    display: flex;
    align-items: center;
    column-gap: 20px;  
}

form i, form button{
 font-size: 17px;
}

form div{
    flex: 1;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--border);
}

form div input{
    background: transparent;
    border: 0;
    outline: 0;
    width: 80%;
    font-size: 12.7px;
    letter-spacing:0.5;
}

form div input::placeholder{
    color:rgba(255, 255,255, 0.78)
}

form button{
    width: 38px;
    height: 38px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}